<div class="dashboard">
    <div class="container">
        <div class="green-house-state row">
            <div class="col-sm-3">
                <ul class="green-house-info">
                    <li class="green-house-info--stat">
                        <span data-translate="greenHouseApp.greenHouse.humidity">Humidity</span>
                        <span class="green-house-info--stat_value">{{vm.humidity}}%</span>
                        <!-- <span>{{greenHouse.humidity.id}}</span> -->
                    </li>
                    <li class="green-house-info--stat">
                        <span data-translate="greenHouseApp.greenHouse.temperature">{{vm.temperature}}</span>
                        <span class="green-house-info--stat_value">{{vm.temperature}}°C</span>
                        <span>{{greenHouse.temperature.id}}</span>
                    </li>
                    <li class="green-house-info--stat">
                        <span data-translate="greenHouseApp.greenHouse.humidifier">Humidifier</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.humidifier == true">ON</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.humidifier == false">OFF</span>
                        <span>{{greenHouse.humidifier.id}}</span>
                    </li>
                    <li class="green-house-info--stat">
                        <span data-translate="greenHouseApp.greenHouse.pumps">Pumps</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.pumps == true">ON</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.pumps == false">OFF</span>
                        <span>{{greenHouse.pumps.id}}</span>
                    </li>
                    <li class="green-house-info--stat">
                        <span data-translate="greenHouseApp.greenHouse.lights">Lights</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.lights == true">ON</span>
                        <span class="green-house-info--stat_value stat-switch" ng-if="vm.lights == false">OFF</span>
                        <span>{{greenHouse.lights.id}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="green-house-photos">
                    <div class="green-house-photos--item">
                        <img src="content/images/plant_pictures/cam1.jpg">
                    </div>
                    <div class="green-house-photos--item">
                        <img src="content/images/plant_pictures/cam2.jpg">
                    </div>
                    <div class="green-house-photos--item">
                        <img src="content/images/plant_pictures/cam3.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="green-house-plants">

                    <li ng-repeat="plantMoisture in vm.soilMoisture track by $index" class="green-house-plants--item">
                        <div class="item-bar item--humidity-bar">{{ plantMoisture }}%</div>
                        <img src="content/images/weed-login.jpg">
                        <div class="item-bar item--name-bar">Plant {{ $index }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
    $('.green-house-photos').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1
});
});
</script>
    <!-- <h2 data-translate="greenHouseApp.greenHouse.home.title">Green Houses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="green-housemySuffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="greenHouseApp.greenHouse.home.createLabel">
                        Create a new Green House
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/> -->
    <!-- <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">IDid</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.humidity">Humidity</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.temperature">Temperature</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.humidifier">Humidifier</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.plants">Plants</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.pumps">Pumps</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.lights">Lights</span></th>
                    <th><span data-translate="greenHouseApp.greenHouse.fans">Fans</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="greenHouse in vm.greenHouses track by greenHouse.id">
                    <td><a ui-sref="green-housemySuffix-detail({id:greenHouse.id})">{{greenHouse.id}}</a></td>
                    <td>
                        <a ui-sref="in-sensormySuffix-detail({id:greenHouse.humidity.id})">{{greenHouse.humidity.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="in-sensormySuffix-detail({id:greenHouse.temperature.id})">{{greenHouse.temperature.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="out-switchmySuffix-detail({id:greenHouse.humidifier.id})">{{greenHouse.humidifier.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="plants in greenHouse.plants">
                            <a class="form-control-static" ui-sref="plantmySuffix-detail({id: plants.id})">{{plants.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="pumps in greenHouse.pumps">
                            <a class="form-control-static" ui-sref="out-switchmySuffix-detail({id: pumps.id})">{{pumps.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="lights in greenHouse.lights">
                            <a class="form-control-static" ui-sref="out-switchmySuffix-detail({id: lights.id})">{{lights.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="fans in greenHouse.fans">
                            <a class="form-control-static" ui-sref="out-switchmySuffix-detail({id: fans.id})">{{fans.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="green-housemySuffix-detail({id:greenHouse.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="green-housemySuffix.edit({id:greenHouse.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="green-housemySuffix.delete({id:greenHouse.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
