
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGreenHouseManagerLabel" data-translate="greenHouseApp.greenHouseManager.home.createOrEditLabel">Create or edit a Green House Manager</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.greenHouseManager.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.greenHouseManager.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="greenHouseApp.greenHouseManager.settings" for="field_settings">Settings</label>
            <select class="form-control" id="field_settings" name="settings" ng-model="vm.greenHouseManager.settings" ng-options="profileSettings as profileSettings.id for profileSettings in vm.settings | orderBy:'id' track by profileSettings.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="greenHouseApp.greenHouseManager.greenHouse" for="field_greenHouse">Green House</label>
            <select class="form-control" id="field_greenHouse" name="greenHouse" ng-model="vm.greenHouseManager.greenHouse" ng-options="greenHouse as greenHouse.id for greenHouse in vm.greenhouses | orderBy:'id' track by greenHouse.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
