@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: $brand-primary;;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    // color: #333;
    color: $base-font-color;
    position: relative;

    * {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}

a, a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1 {
    font-size: 130px;
    color: $brand-primary;
}

.content {
    height: 100%;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

// .navbar-header {
//     display: none;
// }

.ribbon {
    display: none;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}


.modal-backdrop {
        &.in {
            opacity: .7;
        }

        -webkit-transition: opacity .1s ease-in-out;
            -moz-transition: opacity .1s ease-in-out;
            -ms-transition: opacity .1s ease-in-out;
            -o-transition: opacity .1s ease-in-out;
}

.modal-content {
    background-color: transparent;
}







@media (min-width: 992px) {
    html, body {
        height: 100%;
    }
}